// colors
$primary-color: #CC8054;
$black-color: #000;
$white-color: #fff;
$grey-color: #9E9E9E;

// backgrounds
$primary-background: #FAFAFA;
$grey-background: #F2F2F2;
$black-background: #000;

// font sizes
$normal: 12px;
$icon-size: 20px;